.preloadFinish {
  opacity: 0;
  pointer-events: none;
}
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #27222f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1.5s ease;
}
.cloud1,
.cloud2,
.cloud3,
.cloud4 {
  position: absolute;
  right: 0;
  height: 30%;
  z-index: 0;
}
.logoloader,
.witch {
  position: absolute;
}
.cloud1 {
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2 {
  top: 50%;
  transform: translate(100%, -75%);
  animation: clouds 3s ease infinite 2.5s;
}

.cloud3 {
  top: 75%;
  transform: translate(100%, -55%);
  animation: clouds 3s ease infinite 1s;
}
.cloud4 {
  top: 38%;
  transform: translate(100%, -40%);
  animation: clouds 3s ease infinite 1.5s;
}
.witch {
  top: 35%;
  height: 30%;
  animation: witch 1s ease infinite alternate;
  z-index: 1;
}
.logoloader {
  top: 20%;
  position: absolute;
}
.preload h3 {
  position: relative;
  top: 35%;
}
.preloadtext {
  position: relative;
  top: 12%;
  font-family: 'Pacifico', cursive;
  color: white;
  font-weight: lighter;
}

@keyframes witch {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50px);
  }
}
@keyframes clouds {
  from {
    right: 0%;
  }
  to {
    right: 130%;
  }
}
section img {
  height: 200px;
}
